<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario nuevo libro</title>
    <link rel="stylesheet" href="estilo.css">
    </head>
<body>
    {{> 01-molecules/partialHeader}}
    <main>
        {{> 01-molecules/formularioNuevoLibro classFormulario="claseFormulario"}}
    </main>
</body>
</html>