<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="estilo.css">
</head>
<body>
    
{{>partialHeader}}
{{>partialMain}}

{{#if listExists}}

    <ul>
        {{#each listaLibros}}

            <li>TITULO: {{this.titulo}} FECHA: {{this.fecha}}</li>
        
        {{/each}}


    </ul>



{{/if}}
    

</body>
</html>