@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
:root {
    --coloFondo: #16A596;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: Roboto;
    font-size: 20px;
    list-style: none;
}

header,
footer {
    background-color: var(--coloFondo);
    width: 100%;
    height: 92px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding: 10px;
}

.home-foto {
    background-image: url('./images/libreriaAntiguas.jpg');
    background-size: cover;
    display: flex;
    flex-direction: column;
}

#search {
    display: flex;
    align-items: center;
    gap: 0;
    justify-content: center;
}

main {
    width: 100%;
    height: 620px;
    padding-top: 100px;
    display: flex;
    gap: 30px;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.mainLibroNuevo {
    width: 100%;
    height: 620px;
    padding-top: 100px;
    display: flex;
    gap: 30px;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.botonesHead {
    /* display: none; */
    width: 111px;
    height: 50px;
    left: 28px;
    top: 21px;
    background: #F6F5F1;
    border-radius: 12px;
    color: #16A596;
}

.btn-home {
    width: 325px;
    height: 57px;
    top: 501px;
    border-radius: 12px;
    background-color: var(--coloFondo);
    color: white;
}

.barraBusqueda {
    width: 325px;
    height: 48px;
    border-radius: 12px;
    top: 586px;
    background: #FFFFFF;
}

.busqueda {
    display: flex;
    gap: 10px;
}

.foto_usu {
    width: 155px;
    height: 155px;
    border: 5px solid var(--coloFondo);
    border-radius: 47%;
}

.foto_libro {
    width: 230px;
    height: auto;
    border-radius: 20%;
    display: flex;
    justify-content: center;
}

.tarjeta_libro {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 700px;
    height: 300px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 var(--coloFondo), 0 6px 20px 0 black;
}

.datos-libro {
    box-shadow: none;
}

.tarjeta_libro_detalle {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 700px;
    /* height: 300px; */
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 var(--coloFondo), 0 6px 20px 0 black;
}

.claseFormulario {
    background-color: var(--coloFondo);
    border: 1px solid grey;
    border-radius: 10px;
    padding: 50px 15px;
    width: 30%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.input,
.textArea {
    border: 1px solid grey;
    border-radius: 10px;
    padding: 10px;
    width: 80%;
}

.botonFormulario {
    width: 250px;
    height: 40px;
    left: 28px;
    top: 21px;
    background: #F6F5F1;
    border-radius: 12px;
    color: #16A596;
    font-size: 20px;
}

.datos_lista {
    display: flex;
    flex-direction: column;
    gap: 8px;
}