@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

:root{
    --coloFondo : #16A596;
}
 


*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: Roboto;
    font-size: 20px;
}

header, footer{
    background-color: var(--coloFondo);
}

header{
    width: 100%;
    height: 92px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding: 10px;
    
}

header input{
    margin-right: 100px;
}

footer{
    width: 100%;
    height: 50px;
}

main{
    background-image: url('./images/libreriaAntiguas.jpg');
    background-size: cover;
    display: flex;
    gap: 10px;
    flex-direction: column;
    place-items: center; 
    justify-content: center;
    
    
}

main section{
    color: white;
}


#search{
    display: flex;
    align-items: center;
    gap: 0;
    justify-content: center;
}

/* #init{
    width: 20px;
    height: 10px;
} */



main{
    width: 100%;
    height: 620px;
}

.botonesHead{
    /* display: none; */
    width: 111px;
    height: 50px;
    left: 28px;
    top: 21px;
    background: #F6F5F1;
    border-radius: 12px;
    color: #16A596;
}

.btn-home{
    width: 325px;
    height: 57px;
    top: 501px;
    border-radius: 12px;
    background-color:var(--coloFondo);
    color: white;
}

.barraBusqueda{
    width: 325px;   
    height: 48px;
    border-radius: 12px;
    top: 586px;
    background: #FFFFFF;
   
}


.busqueda{
    display: flex;
    gap: 10px;
}