<header>
    {{> atoms/button}}
    <button id="init">Inicio</button>

    <form id="search" action="" method="get">
    <input type="text" placeholder="buscar">
    <button type="submit" id="btn-busqueda">F</button>
    </form>
    <h1>
        BIBLIOTECA
    </h1>
    
    <button>Nuevo</button>

</header>
