<form class={{classFormulario}} method="POST" action="">

    {{> 00-atoms/input claseInput="input" placeholderInput="Título" tipoInput="text"}}
    {{> 00-atoms/input claseInput="input" placeholderInput="Autor" tipoInput="text"}}
    {{> 00-atoms/input claseInput="input" placeholderInput="Año" tipoInput="number"}}
    {{> 00-atoms/input claseInput="input" placeholderInput="Precio" tipoInput="number"}}
    {{> 00-atoms/input claseInput="input" placeholderInput="Propietario" tipoInput="text"}}
    {{> 00-atoms/input claseInput="input" placeholderInput="Estado" tipoInput="text"}}
    {{> 00-atoms/textArea classTextArea="textArea"placeholderTextArea="Descripción"}}
    {{> 00-atoms/input tipoInput="file"}}

    {{> 00-atoms/button claseBoton="botonFormulario" linkboton="/" nombreBoton="Enviar" tipoBoton="submit"}}


</form>