<header>
    <section class="busqueda">
        {{> 00-atoms/button claseBoton="botonesHead"}}

        <form id="search" action="" method="get">
            {{> 00-atoms/barraBusqueda}}
        </form>
    </section>



    {{> 00-atoms/button nombreBoton="Nuevo" linkboton= "/libronuevo"claseBoton="botonesHead"}}


</header>