<header>
    {{> 00-atoms/button nombreBoton="Buscar"}}
    
    {{!-- <button id="init">Inicio</button> --}}

    <form id="search" action="" method="get">
    <input type="text" placeholder="buscar">
    <button type="submit" id="btn-busqueda">F</button>
    </form>
    <h1>
        BIBLIOTECA
    </h1>
    
    {{> 00-atoms/button nombreBoton="Nuevo"}}
    {{!-- <button>Nuevo</button> --}}

</header>
