<header>
    <section class="busqueda">
        {{> 00-atoms/button nombreBoton="Buscar" claseBoton="botonesHead"}}

        <form id="search" action="" method="get">
            {{> 00-atoms/barraBusqueda}}
        </form>
    </section>



    {{> 00-atoms/button nombreBoton="Nuevo" claseBoton="botonesHead"}}


</header>