<div class= {{listaLibros}}>
    <section>
        {{> 00-atoms/foto claseFoto = "foto_usuario" altFoto="Foto usuario" direcFoto= "images/persona.jpg"}}
        
        {{> 00-atoms/caracteristicasUsuario nombre= "nombre" apellidos= "apellidos" telefono= "telefono" ciudad= "ciudad" email= "email"}}     
        
    </section>

</div> 