

<div class= {{listaLibros}}>
    <section>
        {{> 00-atoms/foto claseFoto = "foto_libro" altFoto="Foto libro" direcFoto= "images/libro.jpg"}}
        
        {{> 00-atoms/caracteristicasLibro titulo= "titulo"  }}     
        
    </section>

</div> 
