

<div class="tarjeta_libro">
    <section>
        {{> 00-atoms/foto claseFoto = "foto_libro" altFoto="Foto libro" direcFoto= "images/libro.jpg"}}
        
        {{> 00-atoms/caracteristicasLibro titulo= listaLibros[0].titulo autor="Cervantes Jr"}}    
        
    </section>

</div> 
