


    <section class= {{listaLibros}}>
       <a href="/libroDetalle"> {{> 00-atoms/foto claseFoto = "foto_libro" altFoto="Foto libro" }}</a>
        
        {{> 00-atoms/caracteristicasLibro titulo= "titulo" autor= "autor" anio= "anio" precio= "precio" propietario="propietario" estado= "estado" descripcion= "descripcion"}}     
        
    </section>


