<div class="tarjeta_libro">
    
        {{> 00-atoms/foto claseFoto = "foto_libro" altFoto="Foto libro" direcFoto= "images/libro.jpg"}}

        {{> 00-atoms/caracteristicasLibro titulo="El Quijote" autor="Cervantes Jr"}}    
    

</div> 


<div class="tarjeta_libro">
   
        {{> 00-atoms/foto claseFoto = "foto_libro" altFoto="Foto libro" direcFoto= "images/libro.jpg"}}

        {{> 00-atoms/caracteristicasLibro titulo="El Quijote" autor="Cervantes Jr"}}    
    

</div> 


<div class="tarjeta_libro">
    
        {{> 00-atoms/foto claseFoto = "foto_libro" altFoto="Foto libro" direcFoto= "images/libro.jpg"}}

        {{> 00-atoms/caracteristicasLibro titulo="El Quijote" autor="Cervantes Jr"}}    
    

</div> 